<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="PetClinicDBEntities" connectionString="metadata=res://*/Model.PetClinicModel.csdl|res://*/Model.PetClinicModel.ssdl|res://*/Model.PetClinicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Zlati\source\repos\PetClinic1\PetClinic\PetClinicDB.mdf;Integrated Security=True" providerName="System.Data.EntityClient" /></connectionStrings></configuration>